@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

/*Тело*/
body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background: #F5FFFA;
    display: block;
}

/*Очищение float*/
.clear{
    clear: both;
}

/*Заголовки*/
h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
    display: inline-block;

}
h4{
    font-size: 20px; 
    margin-bottom: 10px;
    padding-left: 10px;
  }
h5{
    margin-bottom: 10px; 
    font-size: 18px;
    font-weight: bold;
    color: #111;
    display: inline-block;
    margin-left: 20px;
}

/*Портрет*/
img{
    width: 200px;
    border-radius: 10px;
    float: left;
    display: inline;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

/*Блоки*/
.about{
    color: #708090;
}
.hobby{
    background-color: #FFFACD;
    border-radius: 5px;
}
.work{
    background-color: #FFF0F5;
    border-radius: 5px;
}
.callback{
    background-color: #B0C4DE;
    border-radius: 5px;
}

.container{
    width: 50%;
    margin: 0 auto;
}

/*Ссылки, текст и кнопки*/
a{
    text-decoration: none;
    transform: scale(1);
    margin-top: 10px;
    display: inline-block;
}
p{
    display: inline;
    padding: 3px;
    margin: 10px 0px 0px 20px;

}
.one{
    margin-left: 23px;
}
a:visited{
    color: #708090;
}

a:hover{
     border-bottom: 1px dashed #8B0000;
}
button{
    background: none;
    color: #000000;
    transform: scale(1);
    border: none;
    width: 200px;
    height: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
    
}

button:hover{
      border: 2px solid #000000;
        border-radius: 5px;
    
}

button:active{
       
    transform: scale(1.1);
}

/*Списки и таблицы*/
li{
    padding-bottom: 5px;
    
}
table{
    width: 40%;
}

.table td, table th{
    padding-bottom: 5px;

}

table{
    padding: 0 0 5px 5px;
}

th:hover{
    background-color: #fff;
    border: 1px solid #111;
    border-radius: 5px;
}

/*Инпуты и лейблы*/
label{
    text-decoration: underline;
    padding: 0px 2px 5px 10px;
}
input, textarea{
    background-color: #B0C4DE;
    font-family: Roboto, sans-serif;
    border:none;
    padding-bottom: 7px;
    font-size: 16px;
}

input{
    width: 20%;
}

textarea{
    padding-left: 10px;
}
.first{
    padding-bottom: 5px;
}

/*Родительские и дочерние элементы*/
.worktable td:hover:nth-child(1){
    background-color: #fff;
     border: 1px solid #111;
     border-radius: 5px;
     font-weight: bold;
     
     
 }
 
 .worktable td:hover:nth-child(2){
     background-color: #fff;
     border: 1px solid #111;
     border-radius: 5px;
     font-style: italic;
     
 }
 
 .worktable td:hover:nth-child(3){
     background-color: #fff;
     border: 1px solid #111;
     border-radius: 5px;
     font-style: oblique;
 }

 
.mainul li:hover:nth-child(1){
    text-decoration: underline;
    text-decoration-color: #483D8B;
    
}
.mainul li:hover:nth-child(2){
    text-decoration: underline;
    text-decoration-color: #483D8B;
    
}
.mainul li:hover:nth-child(3){
    text-decoration: underline;
    text-decoration-color: #483D8B;
    
}

.secondul li:hover:nth-child(1){
    text-decoration: underline;
    text-decoration-color: #B22222;
    
}
.secondul li:hover:nth-child(2){
    text-decoration: underline;
    text-decoration-color: #B22222;
    
}
.secondul li:hover:nth-child(3){
    text-decoration: underline;
    text-decoration-color: #B22222;
    
}
.secondul li:hover:nth-child(4){
    text-decoration: underline;
    text-decoration-color: #B22222;
    
}

@media (max-width: 900px){


.container{
        width: 70%;
    }

    img{
        margin-right: 40px;
    }
}

@media (max-width: 400px){


    .container{
            width: 100%;
        }
    }


    @media (max-width: 220px){


        img{
                width: 100%;
            }
        }
    
